p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: black;

}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: black;
  margin-top: 30px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: black;
}

div.a {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: red;
  text-align: center;
}
